$qunar-color: #1ba9ba;
$global-color: #00bcd4;
$font-heiti-light: Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-heiti-medium: Heiti SC Medium, Heiti SC Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-helvetica-light: Helvetica Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
$font-helvetica-medium: Helvetica Medium, Helvetica Light, Helvetica Neue, Helvetica, STHeiTi, sans-serif;

@import "../../lib/fragment/yo-header";
@import "../../lib/fragment/yo-list";
@import "../../lib/element/yo-loading";

@font-face {
  font-family: yofont;
  src: url("http://simg1.qunarzz.com/fonts/delete/0.0.1/iconfont.woff") format("woff"), url("http://simg1.qunarzz.com/fonts/delete/0.0.1/iconfont.ttf") format("truetype");
}

$media-types: (
    // {String} 横屏
    landscape: "(orientation: landscape)",
    // {String} 竖屏
    portrait:  "(orientation: portrait)",
    // 视网膜屏定义，这里不做非常细节的界定，比如完全一致的整数倍
    // retina1x：< 1.5dppx；
    // retina2x：1.5dppx ~ 2.49dppx
    // retina3x：>= 2.5dppx
    // {String} 非视网膜屏
    retina1x:  "(max--moz-device-pixel-ratio: 1.49),
                (-webkit-max-device-pixel-ratio: 1.49),
                (max-device-pixel-ratio: 1.49),
                (max-resolution: 143dpi),
                (max-resolution: 1.49dppx)",
    // {String} 视网膜屏2x
    retina2x:  "(min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49),
                (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49),
                (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49),
                (min-resolution: 144dpi) and (max-resolution: 239dpi),
                (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx)",
    // {String} 视网膜屏3x
    retina3x:  "(min--moz-device-pixel-ratio: 2.5),
                (-webkit-min-device-pixel-ratio: 2.5),
                (min-device-pixel-ratio: 2.5),
                (min-resolution: 240dpi),
                (min-resolution: 2.5dppx)",
    // 待添加stop-points
    // 用于常规手机横竖屏
    xs:        "(max-width: 767px)",
    // 用于常规pad横竖屏
    s:         "(min-width: 768px) and (max-width: 1024px)",
    // 用于常规笔记本
    m:         "(min-width: 1025px) and (max-width: 1280px)",
    // 用于常规台式机
    l:         "(min-width: 1281px) and (max-width: 1440px)",
    // 用于超大台式机
    xl:        "(min-width: 1441px)"
);

/* yo 2.0.0 border */
@mixin border($border-width: 1px, $border-color: map-get($base, border-color), $border-style: solid, $radius: null) {
    // 为边框位置提供定位参考
    position: relative;
    @if $border-width == null {
        $border-width: 0;
    }
    border-radius: $radius;
    &::after {
        // 用以解决边框layer遮盖内容
        pointer-events: none;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        content: "\0020";
        border-color: $border-color;
        border-style: $border-style;
        border-width: $border-width;
        @include box-sizing(border-box);
        // 适配dpr进行缩放
        @include responsive(retina1x) {
            width: 100%;
            height: 100%;
            @if $radius != null {
                border-radius: $radius;
            }
        }
        @include responsive(retina2x) {
            width: 200%;
            height: 200%;
            @include transform(scale(0.5));
            @if $radius != null {
                border-radius: $radius * 2;
            }
        }
        @include responsive(retina3x) {
            width: 300%;
            height: 300%;
            @include transform(scale(1/3));
            @if $radius != null {
                border-radius: $radius * 3;
            }
        }
        @include transform-origin(0 0);
    }
}

@include yo-header(
	$name: a,
	$item-space: .05rem,
	$color: #333,
	$item-color: $qunar-color,
	$font-size: .18rem
) {
	border-bottom: 0;
	.regret.yo-ico {
		font-weight: bold;
	}
	@include border($border-width: 0 0 1px 0, $border-color: #ddd);
	font-family: $font-heiti-light;
	h2 {
		font-weight: normal;
	}
};

@include yo-loading(
	$name: a,
	$mask-bgcolor: #fff,
	$ico-size: .3rem,
	$ico-color: $qunar-color
){
	z-index: -1;
}

[qapp-widget="scroll"] {
	@include flex(1);
	width: 100%;
}

body {
	background-color: #fff !important;
}

.log-image-zoomout {
	width: 100%;
}